div{
    margin: 50 px;
    /* background-color: #a1b5cb; */
    background-color: #555d70;
    color: white;
}

.row {
    padding: 20px;
    text-align: center;
}

#fotoperfil {
border-radius: 100%;
box-shadow: 4px 4px 4px grey;
}

#nombre{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15%;
    margin-left: 5px;
    font-size: 20px;
}