<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoperfil.png" class="img-fluid" alt="" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Lucas Gabriel Elcura</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat repellendus molestias est eveniet maxime, sit modi doloremque laboriosam magnam molestiae recusandae aliquam, repellat facere atque. Quam recusandae architecto iste natus.
            </p>
        </span>
    </div>
</div>