<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Pagina Web</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum iusto molestias, eius, neque quis eligendi ullam quasi et alias voluptates unde ab a dicta cupiditate consequatur quas, nostrum at amet?</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/redconin.png" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
